@page "/warband/{id}"

@inherits WarbandBase

<h3>@ViewModel.Title</h3>

<div class="card-group">
    <WizardCard WarbandId="@ViewModel.Warband.Id" Wizard="@ViewModel.Wizard" />
    <ApprenticeCard WarbandId="@ViewModel.Warband.Id" Apprentice="@ViewModel.Apprentice" />
    
    @foreach (var soldier in ViewModel.Soldiers)
    {
        <SoldierCard WarbandId="@ViewModel.Warband.Id" Soldier="@soldier" />
    }
</div>