@page "/warband/{id}"

@inherits WarbandBase

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/warband/{id}/game/{@ViewModel.NewGameId}">Start a new game</a>
  </li>
</ul>

<h3>@ViewModel.Title</h3>

<div class="card-columns">
    <WizardCard WarbandId="@ViewModel.Warband.Id" Wizard="@ViewModel.Wizard" />
    <ApprenticeCard WarbandId="@ViewModel.Warband.Id" Apprentice="@ViewModel.Apprentice" />
    
    @foreach (var soldier in ViewModel.Soldiers)
    {
        <SoldierCard WarbandId="@ViewModel.Warband.Id" Soldier="@soldier" />
    }
</div>